In [1]:
import pandas as pd

In [2]:
cbo = pd.read_csv('br_bd_diretorios_brasil_cbo_2002.csv')

In [3]:
cbo.head()

,cbo_2002,descricao,familia,descricao_familia,subgrupo,descricao_subgrupo,subgrupo_principal,descricao_subgrupo_principal,grande_grupo,descricao_grande_grupo,indicador_cbo_2002_ativa
0,010105,Oficial General Da Aeronáutica,101,Oficiais generais das forças armadas,10,Membros Das Forças Armadas ...,1,Membros Das Forças Armadas ...,0,"Membros Das Forças Armadas, Policiais E Bombei...",1
1,010110,Oficial General Do Exército,101,Oficiais generais das forças armadas,10,Membros Das Forças Armadas ...,1,Membros Das Forças Armadas ...,0,"Membros Das Forças Armadas, Policiais E Bombei...",1
2,010115,Oficial General Da Marinha,101,Oficiais generais das forças armadas,10,Membros Das Forças Armadas ...,1,Membros Das Forças Armadas ...,0,"Membros Das Forças Armadas, Policiais E Bombei...",1
3,010210,Oficial Do Exército,102,Oficiais das forças armadas,10,Membros Das Forças Armadas ...,1,Membros Das Forças Armadas ...,0,"Membros Das Forças Armadas, Policiais E Bombei...",1
4,010205,Oficial Da Aeronáutica,102,Oficiais das forças armadas,10,Membros Das Forças Armadas ...,1,Membros Das Forças Armadas ...,0,"Membros Das Forças Armadas, Policiais E Bombei...",1

In [4]:
cbo_filtragem_1 = cbo[(cbo['familia'] == 1425)]

In [5]:
cbo_filtragem_1.shape

(7, 11)

In [6]:
cbo_filtragem_1.head(11)

,cbo_2002,descricao,familia,descricao_familia,subgrupo,descricao_subgrupo,subgrupo_principal,descricao_subgrupo_principal,grande_grupo,descricao_grande_grupo,indicador_cbo_2002_ativa
174,142520,Gerente De Projetos De Tecnologia Da Informação,1425,Gerentes de tecnologia da informação,142,Gerentes De Áreas De Apoio ...,14,Gerentes ...,1,"Membros Superiores Do Poder Público, Dirigente...",1
175,142530,Gerente De Suporte Técnico De Tecnologia Da In...,1425,Gerentes de tecnologia da informação,142,Gerentes De Áreas De Apoio ...,14,Gerentes ...,1,"Membros Superiores Do Poder Público, Dirigente...",1
176,142505,Gerente De Infraestrutura De Tecnologia Da Inf...,1425,Gerentes de tecnologia da informação,142,Gerentes De Áreas De Apoio ...,14,Gerentes ...,1,"Membros Superiores Do Poder Público, Dirigente...",1
177,142525,Gerente De Segurança Da Informação,1425,Gerentes de tecnologia da informação,142,Gerentes De Áreas De Apoio ...,14,Gerentes ...,1,"Membros Superiores Do Poder Público, Dirigente...",1
178,142535,Tecnólogo Em Gestão Da Tecnologia Da Informação,1425,Gerentes de tecnologia da informação,142,Gerentes De Áreas De Apoio ...,14,Gerentes ...,1,"Membros Superiores Do Poder Público, Dirigente...",1
179,142510,Gerente De Desenvolvimento De Sistemas,1425,Gerentes de tecnologia da informação,142,Gerentes De Áreas De Apoio ...,14,Gerentes ...,1,"Membros Superiores Do Poder Público, Dirigente...",1
180,142515,Gerente De Operação De Tecnologia Da Informação,1425,Gerentes de tecnologia da informação,142,Gerentes De Áreas De Apoio ...,14,Gerentes ...,1,"Membros Superiores Do Poder Público, Dirigente...",1