In [2]:
import pandas as pd

In [3]:
cbo = pd.read_csv('br_bd_diretorios_brasil_cbo_2002.csv')

In [4]:
cbo.head()

,cbo_2002,descricao,familia,descricao_familia,subgrupo,descricao_subgrupo,subgrupo_principal,descricao_subgrupo_principal,grande_grupo,descricao_grande_grupo,indicador_cbo_2002_ativa
0,010105,Oficial General Da Aeronáutica,101,Oficiais generais das forças armadas,10,Membros Das Forças Armadas ...,1,Membros Das Forças Armadas ...,0,"Membros Das Forças Armadas, Policiais E Bombei...",1
1,010110,Oficial General Do Exército,101,Oficiais generais das forças armadas,10,Membros Das Forças Armadas ...,1,Membros Das Forças Armadas ...,0,"Membros Das Forças Armadas, Policiais E Bombei...",1
2,010115,Oficial General Da Marinha,101,Oficiais generais das forças armadas,10,Membros Das Forças Armadas ...,1,Membros Das Forças Armadas ...,0,"Membros Das Forças Armadas, Policiais E Bombei...",1
3,010210,Oficial Do Exército,102,Oficiais das forças armadas,10,Membros Das Forças Armadas ...,1,Membros Das Forças Armadas ...,0,"Membros Das Forças Armadas, Policiais E Bombei...",1
4,010205,Oficial Da Aeronáutica,102,Oficiais das forças armadas,10,Membros Das Forças Armadas ...,1,Membros Das Forças Armadas ...,0,"Membros Das Forças Armadas, Policiais E Bombei...",1

In [58]:
cbo_filtragem_1 = cbo[(cbo['familia'] == 1236)]

In [59]:
cbo_filtragem_1.shape

(1, 11)

In [60]:
cbo_filtragem_1.head(11)

,cbo_2002,descricao,familia,descricao_familia,subgrupo,descricao_subgrupo,subgrupo_principal,descricao_subgrupo_principal,grande_grupo,descricao_grande_grupo,indicador_cbo_2002_ativa
102,123605,Diretor De Tecnologia Da Informação,1236,Diretores de tecnologia da informação,123,Diretores De Áreas De Apoio ...,12,Dirigentes De Empresas E Organizações (Exceto ...,1,"Membros Superiores Do Poder Público, Dirigente...",1