In [1]:
import pandas as pd

In [2]:
df_dicionario = pd.read_csv('br_me_rais_dicionario.csv')

In [3]:
df_dicionario.head()

,id_tabela,nome_coluna,chave,cobertura_temporal,valor
0,microdados_vinculos,sexo,1,(1),Masculino
1,microdados_vinculos,sexo,9,(1),Código não encontrado nos dicionários oficiais.
2,microdados_vinculos,sexo,2,(1),Feminino
3,microdados_vinculos,sexo,-1,(1),Ignorado
4,microdados_vinculos,raca_cor,99,2023,Código não encontrado nos dicionários oficiais.

In [4]:
df_dicionario.drop(columns= ['cobertura_temporal'])

,id_tabela,nome_coluna,chave,valor
0,microdados_vinculos,sexo,1,Masculino
1,microdados_vinculos,sexo,9,Código não encontrado nos dicionários oficiais.
2,microdados_vinculos,sexo,2,Feminino
3,microdados_vinculos,sexo,-1,Ignorado
4,microdados_vinculos,raca_cor,99,Código não encontrado nos dicionários oficiais.
...,...,...,...,...
6882,microdados_vinculos,faixa_remuneracao_dezembro_sm,99,Código não encontrado nos dicionários oficiais.
6883,microdados_vinculos,indicador_portador_deficiencia,1,Sim
6884,microdados_vinculos,indicador_portador_deficiencia,0,Não
6885,microdados_vinculos,indicador_trabalho_intermitente,1,Sim
6886,microdados_vinculos,indicador_trabalho_intermitente,0,Não

In [5]:
df_mapas = df_dicionario[df_dicionario['id_tabela'] == 'microdados_vinculos']

In [6]:
mapeamento = {}

In [7]:
for coluna, group_df in df_mapas.groupby('nome_coluna'):
    # Para cada coluna, criar um dicionário interno de {chave: valor}
    mapa_interno = dict(zip(group_df['chave'], group_df['valor']))
    mapeamento[coluna] = mapa_interno

In [8]:
mapeamento.get('sexo')

{'1': 'Masculino',
 '9': 'Código não encontrado nos dicionários oficiais.',
 '2': 'Feminino',
 '-1': 'Ignorado'}

In [9]:
mapeamento.get('motivo_desligamento')

{'89': 'Código não encontrado nos dicionários oficiais.',
 '1': 'Código não encontrado nos dicionários oficiais.',
 '12': 'Término do contrato de trabalho.',
 '50': 'Reforma de militar para a reserva remunerada.',
 '11': 'Rescisão sem justa causa por iniciativa do empregador.',
 '64': 'Falecimento decorrente de doença profissional.',
 '8': 'Código não encontrado nos dicionários oficiais.',
 '31': 'Transferência de empregado entre estabelecimentos da mesma empresa ou para outra empresa, sem ônus para a cedente',
 '72': 'Aposentadoria por idade, com rescisão contratual.',
 '62': 'Falecimento decorrente de acidente do trabalho típico (que ocorre no exercício de atividades profissionais a serviço da empresa)',
 '0': 'Não desligado no ano',
 '5': 'Código não encontrado nos dicionários oficiais.',
 '70': 'Aposentadoria por tempo de serviço, com rescisão contratual.',
 '40': 'Mudança de regime trabalhista.',
 '7': 'Código não encontrado nos dicionários oficiais.',
 '-1': 'Não desligado no ano',
 '71': 'Aposentadoria por tempo de serviço, sem rescisão contratual.',
 '73': 'Aposentadoria por invalidez, decorrente de acidente do trabalho.',
 '20': 'Rescisão com justa causa por iniciativa do empregado (rescisão indireta).',
 '6': 'Código não encontrado nos dicionários oficiais.',
 '79': 'Aposentadoria especial, com rescisão contratual.',
 '9': 'Código não encontrado nos dicionários oficiais.',
 '21': 'Rescisão sem justa causa por iniciativa do empregado ou exoneração a pedido',
 '80': 'Aposentadoria especial, sem rescisão contratual.',
 '76': 'Aposentadoria por invalidez, exceto a decorrente de doença profissional ou acidente do trabalho.',
 '90': 'Desligamento por Acordo Empregado e Empregador',
 '3': 'Código não encontrado nos dicionários oficiais.',
 '10': 'Rescisão com justa causa por iniciativa do empregador ou servidor demitido',
 '32': 'Readaptação ou redistribuição (específico para servidor publico)',
 '2': 'Código não encontrado nos dicionários oficiais.',
 '63': 'Falecimento decorrente de acidente do trabalho de trajeto (ocorrido no trajeto residência-trabalho-residência)',
 '60': 'Falecimento.',
 '22': 'Posse em outro cargo inacumulável (específico para servidor público)',
 '75': 'Aposentadoria compulsória.',
 '4': 'Código não encontrado nos dicionários oficiais.',
 '78': 'Aposentadoria por idade, sem rescisão contratual.',
 '30': 'Transferência de empregado entre estabelecimentos da mesma empresa ou para outra empresa, com ônus para a cedente',
 '33': 'Cessão',
 '74': 'Aposentadoria por invalidez, decorrente de doença profissional.',
 '34': 'Redistribuição (específico para servidor publico)'}

In [10]:
mapeamento.get('tipo_salario')

{'6': 'TAREFA',
 '1': 'MENSAL',
 '2': 'QUINZENAL',
 '3': 'SEMANAL',
 '7': 'OUTROS',
 '4': 'DIÁRIO',
 '5': 'HORÁRIO',
 '-1': 'IGNORADO'}

In [11]:
mapeamento.get('grau_instrucao_apos_2005')

{'10': 'MESTRADO',
 '99': 'Código não encontrado nos dicionários oficiais.',
 '1': 'ANALFABETO',
 '6': 'MEDIO INCOMP',
 '8': 'SUP. INCOMP',
 '7': 'MEDIO COMPL',
 '-1': 'IGNORADO',
 '3': '5.A CO FUND',
 '4': '6. A 9. FUND',
 '2': 'ATE 5.A INC',
 '9': 'SUP. COMP',
 '11': 'DOUTORADO',
 '5': 'FUND COMPL'}

In [12]:
mapeamento.get('nacionalidade')

{'31': 'Belga',
 '24': 'Paraguaia',
 '49': 'Outras Asiáticas',
 '48': 'Outras Latino-Americanas',
 '21': 'Argentina',
 '25': 'Uruguaia',
 '41': 'Japonesa',
 '37': 'Francesa',
 '23': 'Chilena',
 '40': 'Haitiano',
 '36': 'Norte-Americana',
 '51': 'Outros Europeus',
 '10': 'Brasileira',
 '34': 'Canadense',
 '35': 'Espanhola',
 '38': 'Suíça',
 '32': 'Britânica',
 '39': 'Italiana',
 '20': 'Naturalidade Brasileira',
 '22': 'Boliviana',
 '{ñ': 'Código não encontrado nos dicionários oficiais.',
 '45': 'Portuguesa',
 '30': 'Alemã',
 '-1': 'Ignorado',
 '44': 'Russo',
 '50': 'Outras Nacionalidades',
 '42': 'Chinesa',
 '43': 'Coreana',
 '65': 'Norte-Coreana',
 '29': 'Equatoriano',
 '47': 'Indiano',
 '27': 'Colombiano',
 '46': 'Paquistanês',
 '26': 'Venezuelano',
 '28': 'Peruano',
 '64': 'Senegalesa',
 '60': 'Angolano',
 '61': 'Congolês',
 '62': 'Sul-Africano',
 '70': 'Outros Africanos',
 '63': 'Ganesa',
 '59': 'Bengalesa',
 '80': 'Outros',
 '55': 'Sirio',
 '54': 'Cubano',
 '56': 'Sul-Coreano',
 '52': 'Guine Bissau (Guineense)',
 '53': 'Marroquino'}

In [13]:
mapeamento.get('raca_cor')

{'99': 'Código não encontrado nos dicionários oficiais.',
 '-1': 'Ignorado',
 '2': 'Branca',
 '8': 'Parda',
 '1': 'Indígena',
 '4': 'Preta',
 '6': 'Amarela',
 '9': 'Não identificado'}

In [14]:
mapeamento.get('indicador_portador_deficiencia')

{'1': 'Sim', '0': 'Não'}

In [15]:
mapeamento.get('tamanho_estabelecimento')

{'2': 'Até 4',
 '6': 'De 50 a 99',
 '-1': 'Ignorado',
 '3': 'De 5 a 9',
 '8': 'De 250 a 499',
 '9': 'De 500 a 999',
 '5': 'De 20 a 49',
 '7': 'De 100 a 249',
 '10': '1000 ou mais',
 '4': 'De 10 a 19',
 '1': 'Zero'}

In [16]:
mapeamento.get('tipo_estabelecimento')

{'CEI/CNO': 'Código não encontrado nos dicionários oficiais.',
 'Não ': 'Não identificado',
 '9': 'Não identificado',
 '1': 'CNPJ',
 'Não Indentificado ': 'Não identificado',
 '3': 'CEI',
 'Não identificado': 'Não identificado',
 '-1': 'Ignorado',
 '6': 'CNO',
 '5': 'CAEPF',
 '2': 'CAEPF'}

In [17]:
mapeamento.get('indicador_simples')

{'0': 'Não', '1': 'Sim'}

In [18]:
mapeamento.get('tipo_vinculo')

{nan: 'NÃO CLASSIFICADO',
 '15': 'CLT U/PF IND',
 '25': 'CLT R/PF IND',
 '70': 'CLT R/PJ DET',
 '90': 'CONT PRZ DET',
 '35': 'ESTAT N/EFET',
 '96': 'CONT LEI EST',
 '60': 'CLT U/PJ DET',
 '30': 'ESTATUTARIO',
 '95': 'CONT TMP DET',
 '80': 'DIRETOR',
 '20': 'CLT R/PJ IND',
 '55': 'APREND CONTR',
 '65': 'CLT U/PF DET',
 '97': 'CONT LEI MUN',
 '75': 'CLT R/PF DET',
 '31': 'ESTAT RGPS',
 '10': 'CLT U/PJ IND',
 '40': 'AVULSO',
 '-1': 'IGNORADO',
 '5': 'OUTROS',
 '1': 'CLT',
 '4': 'TRABALHADOR TEMP',
 '2': 'ESTATUTÁRIO',
 '3': 'TRABALHADOR AVULSO',
 '50': 'TEMPORARIO'}

In [20]:
mapeamento.get('id_municipio')